#body{
    padding: 0%;
    margin: 0%;
}

#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

#aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 30%;
    padding: 30px 0 30px 0;
    height: 100vh;
    background-color: purple;

}

#section{
    flex-direction:column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70%;
    padding: 30px;
    background-color: aqua ;
     height: 100vh;
}

.imagen{
    width: 80px;
    height: 75px;
}

.usuario{
    width: 80px;
    height: 75px;
    border-radius: 100%;
}

.informacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pregunta{
    position: relative;
    left: -35%;
}

.boton{
    position: relative;
    display: flex;
    flex-direction: row;
    left: -35%;
    margin-right:30px;
}